/* Navbar */
.navbar {
    border-radius: 0;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.navbar-brand span {
    color: purple;
}

.navbar-nav .nav-link {
    color: white !important;
}

.navbar-nav .nav-link:hover {
    color: purple !important;
}

/* Containers */
.container {
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    margin-top: 20px;
}

.purple-container {
    background-color: purple;
    color: white;
    padding: 15px;
}



/* Skills */
.skill {
    margin-bottom: 20px;
}

/* Footer */
.footer {
    color: white;
    text-align: center;
    padding: 20px 0;
}
body{
    font-family: 'Times New Roman', Times, serif;
}
.icon a:hover::before {
    background-color: #111;
    transform: scale(1.1);
    box-shadow: 0 0 5px #ffffff;
  }
  .icon a:hover {
    background-color: #111;
    color: #ffffff;
    box-shadow: 0 0 5px #ffffff;
    text-shadow: 0 0 5px #ffffff;
  } 